@import "../../responsive.scss";

.layout {
  height: 100vh;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  @include lg {
    // background-color: rgb(243, 214, 159);
    max-width: 1280px;
  }

  @include md {
    // background-color: rgb(162, 162, 243);
    max-width: 768px;
  }

  @include sm {
    // background-color: rgb(253, 170, 170);
    max-width: 640px;
  }

  .content {
    height: calc(100vh - 100px);
  }
}
