@import "../../responsive.scss";
.card {
  display: flex;
  gap: 2rem;
  .imgContainer {
    flex: 2;
    height: 20rem;
    @include sm {
      display: none;
    }
    img {
      width: 100%;
      height: 20rem;
      object-fit: cover;
      border-radius: 1rem;
    }
  }

  .infoContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    img {
      width: 1.6rem;
      height: 1.6rem;
    }

    h1 {
      font-size: 2rem;
      color: #444;
      font-weight: 600;
      transition: all 1s ease;
      &:hover {
        color: #222;
        transform: scale(1.02);
      }
    }

    p {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #999;
      font-size: 1.4rem;
    }

    .price {
      background-color: #ffdd6e;
      padding: 0.7rem;
      border-radius: 0.5rem;
      font-size: 2rem;
      font-weight: 300;
    }

    .button-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      .rooms {
        display: flex;
        align-items: center;
        gap: 1rem;
        span {
          display: flex;
          gap: 0.2rem;
          align-items: center;
          font-size: 1.2rem;
          background-color: #e0e0e0;
          padding: 0.5rem;
          border-radius: 0.5rem;
          img {
            margin-right: 0.2rem;
          }
          span {
            margin: 0;
            margin-left: 0.2rem;
            padding: 0;
          }
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        button {
          background-color: #fff;
          border: 1px solid #999;
          border-radius: 0.5rem;
          cursor: pointer;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.1s ease;
          &:hover {
            transform: scale(1.1);
            background-color: lightgray;
          }
        }
      }
    }
  }
}
