.list {
  display: flex;
  height: 100%;

  .listContainer {
    flex: 3;
    height: 100%;

    .wrapper {
      height: 100%;
      padding-right: 5rem;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      gap: 5rem;
      padding-bottom: 5rem;
    }
  }

  .mapContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;
  }
}
