@import "../../responsive.scss";

.singlePage {
  display: flex;
  height: 100%;
  @include md {
    flex-direction: column;
    gap: 3rem;
    overflow-y: scroll;
  }
  .details {
    flex: 3;
    height: 100%;
    overflow-y: scroll;
    @include md {
      flex: none;
      height: max-content;
      overflow-y: initial;
    }
    .wrapper {
      margin-right: 5rem;
      @include md {
        margin-right: 0;
        padding: 0 2rem;
      }
      .info {
        margin-top: 3rem;
        .top {
          display: flex;
          justify-content: space-between;
          .post {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 2rem;
            h1 {
              font-size: 2rem;
              color: #444;
              font-weight: 600;
              transition: all 1s ease;
              &:hover {
                color: #222;
                transform: scale(1.02);
              }
            }

            p {
              img {
                width: 1.6rem;
                height: 1.6rem;
              }

              display: flex;
              align-items: center;
              gap: 0.5rem;
              color: #999;
              font-size: 1.4rem;
            }

            .price {
              background-color: #ffdd6e;
              padding: 0.7rem;
              border-radius: 0.5rem;
              font-size: 2rem;
              font-weight: 300;
            }
          }

          .user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding: 0 5rem;
            background-color: #f7e7b3;
            border-radius: 0.5rem;
            img {
              width: 5rem;
              height: 5rem;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }

        .bottom {
          color: #555;
          line-height: 2rem;
          margin-top: 5rem;
        }
      }
    }
  }

  .features {
    flex: 2;
    height: 100%;
    overflow-y: scroll;
    @include md {
      overflow-y: initial;
      height: max-content;
    }
    background-color: #fcf5f3;
    .wrapper {
      padding: 0 2rem;
      @include md {
        padding: 3rem 2rem;
      }
      .title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 3rem;
      }

      .listVertical {
        display: flex;
        flex-direction: column;
        padding: 1rem 0.5rem;
        background-color: #fff;
        border-radius: 0.5rem;
        margin-bottom: 3rem;
        .item {
          padding: 1rem 0.5rem;
          display: flex;
          align-items: center;
          gap: 1rem;
          img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;
            border-radius: 50%;
            background-color: #f7e7b3;
            overflow: visible;
          }

          .text {
            .sub-title {
              font-size: 1.6rem;
              font-weight: bold;
            }

            p {
              font-size: 1.2rem;
              color: #777;
            }
          }
        }
      }

      .infoBoxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;

        @include lg {
          font-size: 1.2rem;
        }
        .box {
          display: flex;
          gap: 1rem;
          align-items: center;
          padding: 0.5rem;
          background-color: #fff;
          border-radius: 0.5rem;
          img {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: cover;
          }
          p {
            font-weight: bold;
          }
        }
      }

      .listHorizontal {
        display: flex;
        padding: 1rem 0.5rem;
        background-color: #fff;
        border-radius: 0.5rem;
        justify-content: space-between;
        margin-bottom: 3rem;
        .item {
          padding: 1rem 0.5rem;
          display: flex;
          align-items: center;
          gap: 1rem;
          img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;
            border-radius: 50%;
            background-color: #f7e7b3;
            overflow: visible;
          }

          .text {
            .sub-title {
              font-size: 1.6rem;
              font-weight: bold;
            }

            p {
              font-size: 1.2rem;
              color: #777;
            }
          }
        }
      }

      .mapContainer {
        height: 20rem;
        width: 100%;
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3rem;
        margin-bottom: 3rem;
        button {
          border: 1px solid #f0d57c;
          display: flex;
          align-items: center;
          padding: 2rem 1rem;
          gap: 0.5rem;
          font-weight: 500;
          background-color: #fff;
          img {
            width: 1.6rem;
            height: 1.6rem;
            object-fit: cover;
          }
        }
      }
    }
  }
}
