@import "../../responsive.scss";

.slider {
  width: 100%;
  height: 35rem;
  display: flex;
  gap: 2rem;

  .fullSlider {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    z-index: 100000;
    .arrow {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 5rem;

        @include md {
          width: 3rem;
        }
        @include sm {
          width: 2rem;
        }
        &.right {
          transform: rotate(180deg);
        }
      }
    }

    .close {
      padding: 5rem;
      color: #fff;
      font-size: 3.6rem;
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 0;
      span {
        cursor: pointer;
      }
    }

    .imageContainer {
      flex: 10;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 1rem;
  }

  .bigImage {
    flex: 3;
  }

  .smImages {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      height: 10rem;
    }
  }
}
